### JetBrains template
*.iml
.idea/
*.ipr
*.iws


### Composer template
composer.phar
vendor/


### Vagrant template
.vagrant/


### Custom
.env


### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
/bootstrap/config.php
/generated-reversed-database
