{% extends 'base.html.twig'  %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="container">	
	<h1><a href="/">Каркас приложения без фреймворка</a></h1>
	
	{% if content is defined %}
	    {{ content | raw  }}
	{% endif %}
	
    </div>
{% endblock %}
